<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721324734794-a1q3c3onn1frtfdrnts9britmjpuo3mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721324734794-a1q3c3onn1frtfdrnts9britmjpuo3mu</string>
	<key>API_KEY</key>
	<string>AIzaSyCSkkC3xIaA7jUJ0Zsb7n-r04XTmkQzsjo</string>
	<key>GCM_SENDER_ID</key>
	<string>721324734794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.stockTask</string>
	<key>PROJECT_ID</key>
	<string>stocktaskdb</string>
	<key>STORAGE_BUCKET</key>
	<string>stocktaskdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721324734794:ios:8c9fb498c6e22e3213e9b3</string>
</dict>
</plist>